@import "tailwindcss";

:root {
  --color-primary: #035591;
  --color-secondary: #4CA3DD;
  --color-hover: #023B66;
  --color-accent: #FFB300;
  --color-background: #E6F1F8;
}

body {
  font-family: var(--font-poppins), sans-serif;
  max-width: 1440px;
}

