@import "tailwindcss";

:root {
  --color-primary: #035591;
  --color-secondary: #4CA3DD;
  --color-hover: #023B66;
  --color-accent: #FFB300;
  --color-background: #E6F1F8;
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter), sans-serif;
}

